@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    background-color: #cfcfcf;
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
}

h2,h3,h4 {
    font-weight: 300;
}

strong{
    font-weight: 600;
}

article {
    margin-bottom: 50px;
}

li {
    margin-bottom: 20px;
}

a {
    color: rgb(176, 61, 84);
}

::-moz-selection { /* Code for Firefox */
    color: #cfcfcf;
    background: rgb(155, 77, 68);
}

::selection {
    color: #cfcfcf;
    background: rgb(155, 77, 68);
}

i.fab {
    font-size: 22px;
    margin-right: 10px;
}

.jumbotron {
    background-image: url(../images/work.jpg);
    background-size: cover;
    padding: 6rem 0 2rem;
    border-radius: 0;
}

.jumbotron container {
    margin: 0;
    padding: 0;
}

.jumbotron .content {
    background-color: rgba(0, 0, 0, 0.9);
    color: #cfcfcf;
    padding: 20px;
    backdrop-filter: blur(2px);
}

.jumbotron span {
    color: crimson;
}

.jumbotron img{
    width: 150px;
}

.badge-info{
    background-color:#6975b9;
    color: #cfcfcf;
}

.arabic {
    font-family: 'Cairo', sans-serif;
}