body {
    font-family: 'Montserrat', sans-serif;
}

h2,h3,h4 {
    font-weight: 300;
}

strong{
    font-weight: 600;
}

article {
    margin-bottom: 50px;
}

li {
    margin-bottom: 20px;
}

a {
    color: crimson;
}

i.fab {
    font-size: 22px;
    margin-right: 10px;
}

.jumbotron {
    background-image: url(images/work.jpg);
    background-size: cover;
}

.jumbotron .content {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    backdrop-filter: blur(2px);
}

.jumbotron span {
    color: crimson;
}

.jumbotron img{
    width: 150px;
}

.badge-info{
    background-color:#6975b9;
}

.arabic {
    font-family: 'Tajawal', sans-serif;
}